<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="IrisLoginPageUrl" value="https://iris.iata.org/{0}/IRIS/login/login.aspx" />
    <add key="ServiceNowHomePageUrl" value="https://iata.service-now.com/" />
    <add key="UserRequestPoolsUrl" value="https://iata.service-now.com/nav_to.do?uri=%2Ftask_list.do%3Fsysparm_clear_stack%3Dtrue%26sysparm_userpref_module%3D2ef6f28d0a0a3c1801754e374fdda7e0%26sysparm_query%3Dassignment_group%253Djavascript%253AgetMyGroups()%255Eactive%253Dtrue%255Eassigned_toISEMPTY%255Estate!%253D150%255EEQ%26sysparm_list_mode%3Dgrid%26sysparm_offset%3D" />
    <add key="ServiceNowSearchUserUrl" value="https://iata.service-now.com/nav_to.do?uri=%2F$sn_global_search_results.do%3Fsysparm_search%3D{0}" />
    <add key="AdminUserName" value="sumx" />
    <add key="AdminUserPassword" value="123456" />
    <add key="AdminUserEmail" value="sumx@iata.org" />
    <add key="UserStatusValueInactive" value="184" />
    <add key="UserStatusValueActive" value="182" />
    <add key="UserStatusValueLocked" value="185" />
    <add key="EnableResolveRoleConflicts" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>